.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.content section {
  margin-top: 0.5%;
  width: 1710px;
}

.title {
  margin-top: 13px;
  font-size: 23px;
}

.filtros {
  width: 100%;
  border-bottom: 5px solid #f5eaf8;
}

.filtros ul {
  position: relative;
  list-style: none;
  display: flex;
  font-size: 18px;
  margin: 0px;
  bottom: -5px;
  padding: 0px;
  gap: 10px;
}

.filtros ul li {
  padding: 0 20px;
  border-bottom: 5px solid transparent;
  transition: 0.2s;
}

.filtros ul li:not(.active):hover {
  border-bottom: 5px solid #edd2f4;
  transform: scale(1.02);
  cursor: pointer;
}

.filtros .active {
  border-bottom: 5px solid #60007d;
  z-index: 3;
  cursor: pointer;
  font-weight: 700;
}

.controller {
  margin: 15px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.period {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}

.period h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 800;
}

.period svg {
  height: 18px;
  width: 18px;
}

.period span {
  font-size: 16px;
  font-weight: 700;
  background-color: #60007d;
  height: min-content;
  color: #ffffff;
  padding: 3px 10px;
  border-radius: 5px;
}

.buttons {
  display: flex;
  gap: 5px;
}

.buttons button {
  width: 45px;
  height: 35px;
  background-color: #ffffff;
  border: 1px #60007d solid;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.buttons button:hover {
  transform: scale(1.1);
  background-color: #60007d;
}

.buttons button:hover svg {
  color: #ffffff;
}

.buttons button img {
  width: 90%;
  height: 90%;
}

.buttons button svg {
  width: 90%;
  height: 90%;
  color: #60007d;
}

.hidden {
  visibility: hidden;
}

.columns {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-gap: 10px;
}
