.header {
  background-color: #f5eaf8;
  width: 100%;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.container h2 {
  margin: 0px;
  color: #60007d;
  font-size: 30px;
}
