.header {
  background-color: #f5eaf8;
  width: 100%;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.container h2 {
  margin: 0px;
  font-size: 30px;
}

.menu {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu span {
  height: 60%;
}

.menu span svg {
  height: 100%;
  width: 100%;
}

.menu button {
  height: 80%;
  background-color: #f5eaf8;
  border: 0;
  padding: 0px;
}

.menu button svg {
  height: 100%;
  width: 100%;
}
