.input {
  width: 398px;
}

.input label {
  font-size: 15.5px;
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.input input {
  padding: 0;
  height: 37px;
  width: calc(100% - 15px);
  border: #60007d solid 2px;
  border-radius: 6px;
  background-color: #edd2f4;
  padding-left: 15px;
  color: #60007d;
  font-size: 25px;
}

.input i {
  font-size: 27px;
}
