.input {
  width: 425px;
  height: 30px;
  background-color: #edd2f4;
  border: 2px solid;
  border-radius: 8px;
  border-color: #60007d;
  padding-left: 15px;
}

.input::placeholder {
  color: rgba(96, 0, 125, 0.45);
  font-size: 17px;
  font-weight: 600;
}

.button {
  background-color: #60007d;
  color: white;
  height: 36px;
  width: 70px;
  border: 2px;
  border-radius: 8px;
  font-size: 28px;
  margin-left: -10px;
}

.div {
  display: flex;
  align-items: center;
}
