.input {
  width: 100%;
  position: relative;
}

.input label {
  font-size: 15.5px;
  margin-left: 5px;
}

.input input {
  padding: 0;
  height: 37px;
  width: calc(100% - 15px);
  border: #60007d solid 2px;
  border-radius: 6px;
  background-color: #edd2f4;
  padding-left: 15px;
  color: #60007d;
  font-size: 20px;
}

.spanPrice {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
